.dashboard{
    background-color: #f3f5f8;
    margin-top: 5.5rem;
    
}
aside{
    width: 300px;
   
}
.myAside{
    width: 300px;

}


.dash_item {
    transition: .8s;
    font-size: 17px;
}
.dash_menu{
    transition: .5s;
    padding: 10.5px 0;
    cursor: pointer;
    vertical-align: middle;
 }
.dash_menu:hover .dash_item{
    color: #bb262c !important;
    padding-left: 8px;
 }
 .dash_menu:hover {
    background-color: #f3f5f8 !important;
 }
 