.page-link {
    cursor: pointer;
    color: black !important;
}

.active>.page-link,
.page-link.active {
    z-index: 3;
    color: white !important;
    background-color: #17550c !important;
    border: 1px solid #aeaeae !important;
}