.card_container .card_img{
    overflow: hidden;
    border-radius: 0.375rem 0.375rem 0 0;
    height: 170px;
}
.card_container .card_img img{
    border-radius: 0.375rem 0.375rem 0 0;
    transition: .8s;
    height: 100%;
    width: 100%;
    transform: scale(1.2);
}
.card_container:hover .card_img img{
    transform: scale(1);
}
.card_container .card{
    border: 1px solid rgb(219, 219, 219) !important;
    transition: .4s;
}
.card_container .card:hover{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    border: none !important;
}
.textTitle{
    text-decoration: none;
}
.bookmarkIcon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 50% !important;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right,#179700,#ff0400);
    transition: .3s;
    margin-top: -20px;
    cursor: pointer;
}
.bookmarkIcon i{
    color: white;
}
.book{
    display: none;
}